div#transaction-module ng-init="getData()" 
  transactionlist source="transactions.failed_transactions" title="'Failed Charges'" type="'failed-charged'"
  transactionlist source="transactions.disputed_transactions" title="'Disputed Charges'" type="'disputed-charged'"
  transactionlist source="transactions.success_transactions" title="'Sucess Charges'" type="'success-charged'"
